body{
  margin: 0;
  font-family: 'Barlow', sans-serif;
}
h1{
  font-size: 50px;
  
}
.h2{
  font-size: 40px;
}
.highlight{
  color:rgb(150, 207, 17);
  
}
.experience{
  margin-left: 80px;
  font-weight: 700px;
}
.intro{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.intro img{

  width: 100%;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.top{
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat ;
}
section{
  height: 500px;
  padding-bottom: 200px;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(223, 137, 94), rgb(230, 215, 87)) ;
  padding: 10px 20px;
  border-radius: 10px;
  color: aliceblue;
  font-weight: bold;
  margin-left: 50px;

}
.mid{
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.single{
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
  height:80%;
}
.experience-area{
  background-image: url(image/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#full{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, rgb(77, 52, 5),rgb(224, 172, 74));
  border-image-slice: 1;
}
#noob{
  border-left: 7px solid;
  border-image: linear-gradient(180deg,rgb(7, 47, 85), cyan );
  border-image-slice: 1;
}
footer{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
